<div fxLayout="row">
  <div fxFlex="60" fxFlexOffset="20">
    <div fxLayout="column">
      <div fxLayout="row" fxLayoutAlign="start center">
        <div>
          <h1>Кураторы</h1>
        </div>
        <button mat-mini-fab
                color="accent"
                style="margin-left: 10px"
                (click)="add()">
          <mat-icon>add</mat-icon>
        </button>
      </div>
      <mat-card>
        <mat-table [(dataSource)]="curators" matSort>

          <ng-container matColumnDef="id">
            <mat-header-cell *matHeaderCellDef mat-sort-header>ID</mat-header-cell>
            <mat-cell *matCellDef="let curator">
              {{curator.id}}
            </mat-cell>
          </ng-container>
          <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Имя</mat-header-cell>
            <mat-cell *matCellDef="let curator">
              {{curator.name}}
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="phoneNumber">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Номер телефона</mat-header-cell>
            <mat-cell *matCellDef="let curator">
              {{curator.phoneNumber}}
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="dogsCount">
            <mat-header-cell *matHeaderCellDef>Кол-во собак</mat-header-cell>
            <mat-cell *matCellDef="let curator">
              {{curator.dogsCount}}
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="dogsLimit">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Макс. кол-во собак</mat-header-cell>
            <mat-cell *matCellDef="let curator">
              {{curator.dogsLimit}}
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="DeleteButton">
            <mat-header-cell *matHeaderCellDef mat-sort-header></mat-header-cell>
            <mat-cell *matCellDef="let curator" fxLayoutAlign="space-around center" (click)="$event.stopPropagation()">
              <button mat-raised-button
                      color="primary"
                      class="action-button"
                      (click)="edit(curator)">
                <mat-icon>edit</mat-icon>
              </button>

              <button mat-raised-button
                      color="warn"
                      class="action-button"
                      (click)="delete(curator)">
                <mat-icon>delete</mat-icon>
              </button>
            </mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="tableColumns"></mat-header-row>
          <mat-row *matRowDef="let curator; columns: tableColumns"
                   class="row-highlight"
                   (click)="showDogs(curator)">
          </mat-row>
        </mat-table>
        <div fxLayout="row">
          <mat-paginator fxFlexOffset="10" fxFlex="80"
                         [length]="totalCurators"
                         [pageSize]="elementsPerPage"
                         [showFirstLastButtons]="true">
          </mat-paginator>
        </div>
      </mat-card>
    </div>
  </div>
</div>
