<form [formGroup]="validation">
  <mat-list fxFlex="100" >
    <mat-list-item>
      <h2>Куратор {{validation.get('name').value}}</h2>
    </mat-list-item>
    <mat-list-item class="list-item-margin">
      <mat-form-field fxFlex="100">
        <input matInput placeholder="Имя" formControlName="name">
        <mat-error *ngIf="validation.get('name').hasError('required')">
          Введите имя
        </mat-error>
      </mat-form-field>
    </mat-list-item>
    <mat-list-item class="list-item-margin">
      <mat-form-field fxFlex="100">
        <input matInput placeholder="Фамилия" formControlName="lastname">
        <mat-error *ngIf="validation.get('lastname').hasError('required')">
          Введите фамилию
        </mat-error>
      </mat-form-field>
    </mat-list-item>
    <mat-list-item class="list-item-margin">
      <mat-form-field fxFlex="100">
        <input matInput placeholder="Макс. кол-во собак" formControlName="dogsLimit">
        <mat-error *ngIf="validation.get('dogsLimit').hasError('required')">
          Введите кол-во собак
        </mat-error>
        <mat-error *ngIf="validation.get('dogsLimit').hasError('min')">
          Число должно быть больше 0
        </mat-error>
      </mat-form-field>
    </mat-list-item>
    <mat-list-item class="list-item-margin">
      <mat-form-field fxFlex="100">
        <input matInput placeholder="Номер телефона" formControlName="phoneNumber">
        <mat-error *ngIf="validation.get('dogsLimit').hasError('required')">
          Введите номер телефона
        </mat-error>
      </mat-form-field>
    </mat-list-item>
    <mat-list-item class="list-item-margin">
      <button mat-raised-button color="primary" type="submit" style="font-size: 16px" (click)="submit()">
        Сохранить
      </button>
    </mat-list-item>
  </mat-list>
</form>
