<div fxLayout="row">
  <div fxFlex="60" fxFlexOffset="20">
    <mat-card>
      <button mat-raised-button
              color="primary"
              (click)="back()">
        Назад
      </button>
      <form (ngSubmit)="save()">
        <mat-list fxFlex="40" fxLayout="column">

          <mat-list-item>
            <h2>Собака {{dog.name}}</h2>
          </mat-list-item>

          <mat-list-item fxFlexOffset="5" class="list-item-margin">
            <mat-form-field fxFlex="100">
              <input matInput placeholder="Имя" name="name" [(ngModel)]="dog.name">
            </mat-form-field>
          </mat-list-item>

          <mat-list-item fxFlexOffset="5" class="list-item-margin">
            <mat-form-field fxFlex="100">
              <input matInput placeholder="Возраст" name="age" [(ngModel)]="dog.age">
            </mat-form-field>
          </mat-list-item>

          <mat-list-item fxFlexOffset="5" class="list-item-margin">
            <mat-form-field fxFlex="100">
              <mat-select placeholder="Пол" name="sex" [(ngModel)]="dog.sex">
                <mat-option value="MALE">
                  Мальчик
                </mat-option>
                <mat-option value="FEMALE">
                  Девочка
                </mat-option>
              </mat-select>
            </mat-form-field>
          </mat-list-item>

          <mat-list-item fxFlexOffset="5" class="list-item-margin">
            <mat-form-field fxFlex="100">
              <input matInput placeholder="Порода" name="breed" [(ngModel)]="dog.breed">
            </mat-form-field>
          </mat-list-item>

          <mat-list-item fxFlexOffset="5" class="list-item-margin">
            <button mat-raised-button color="accent" style="font-size: 16px" type="submit">
              Сохранить
            </button>
            <button mat-raised-button color="warn" style="font-size: 16px; margin-left: 20px" (click)="delete()">
              Удалить
            </button>
          </mat-list-item>

        </mat-list>
      </form>

    </mat-card>
  </div>
</div>
